:root{
  --bgcolor : linear-gradient(to right, #FFF7AE 25%,#F6D167 50%,#FFF7AE 100%);
}
html{
  scroll-behavior: smooth;
}
*{
  margin: 0 auto;
  padding: 0;
}
#container{
  background: var(--bgcolor);
}
header{
  text-align: center;
}
#logo img{
  max-width: 100%;
  width: 480px;
  height: 360px;
  margin: 1rem;
}
#subtitle{
  text-align: center;
}
h1{
  padding-top: 1.2rem;
  font-size: 62px;
}

fieldset{
  border: 1px solid gray !important ;
  height: 300px;
  text-align: center;
  width: 60%;
  position: relative;
  left: 20%;
  font-size: 1rem;
}
.mark{
  font-size: 1.25rem;
  font-weight: 800;
  color:red;
  opacity: 0.76;
  background-color: inherit;
}
legend{
  float: none;
  padding: inherit;
}
.input_content{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 5px;
}
.input_content label{
  margin: 0;
  font-weight: 800;
  font-size: 1rem;
  text-align: left;
}
.input_content_inputfield{
  width: 60%;

}
.input_content_radio{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.radiobtn{
  width: 1rem;
  height: 1rem;
}
.exam-box{
  width: 80%!important;
}
/* description */
#main-description{
  text-align: center;
  margin: 0px 10%;
}
.description-box ul>li{
  margin: 1px;
  margin-left: 10%;
  text-align: left;
  text-indent: 1rem;
  list-style-type: lower-alpha;
}
.description-h2{
  letter-spacing: 5rem;
}



/* main article */
#big-accordion{
  width: 80%!important;
}
.accordion-header > .accordion-button {
    background-color: #cce6ff;
    text-align: center;
    border: 1.5px black solid;
    font-weight: 800;
    font-size: 1.2rem;
}
.senior{

}
.input_checksenior{

  text-align: left;
  width: 20px;
  height: 25px;
}
#custom-check-senior-item div{
  font-size: 25px;
  line-height: 25px;
  }
.red{
  float: right;
  color: red;
}
#purchase_list_title p{
  display: inline-block;
  padding-left: 2%;
}
input:invalid  {
  border : 1.2px solid red;
}
.accordion-button:not(.collapsed){
  background-color: #ff1a1ac7;
  color: white;
}
.accordion-button{
  display: block;
}
.big-accordion{
  min-height: 270px;
}
.c_label{
  width: 40%;
}

#cart{
  margin: 1.5rem;
  min-height: 400px;
  border: 2px dotted black;
  background-color: inherit;
}
.cart-title h2{
  padding-top: 20px;
  display: block;
  text-align: center;
  letter-spacing: 5px;
}
.custom_infos{
  padding: 20px 0 0 5%;
  font-size: 1.25rem;
}
.inputed{
  display: inline-block;
  margin-left: 20px;
}
.submit{
  width: 60%;
}
.submit-button{
  font-size: 2rem;
  width: 100%;
  height: 50px;
  background-color: rgba(125,225,125,0.67);
  margin-bottom: 100px;
}

.des_ul li{
  font-weight: 600;
}
.des_ul li p{
  margin: 5px 0 8px 0;
  text-indent: 4%;
}
.des_ul{
  border: 1px gray solid;
}

/* 國小訂購項目 過濾器 */
#filter{
  border : 1px solid black;
  margin: 1rem auto;
  width: 80%;
}
.filter_title{
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
}
.filter_attr{
  text-indent: 25%;
  width: 20%;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
}
.fil_cont{
  width: 80%;
  display: inline-block;
}
.filter_radio{
  display: inline-block;
  margin: 0 0.5rem;
  height: 20px;
  width: 25px;
}
.filter_content{
  font-size: 25px;
  line-height: 25px;
  display: inline-block;
}

.comlist{
  list-style-type: square;
}

#filter-reset-box{
  text-align: center;
  margin: 5px;
}
#filter-reset{
  font-size: 1rem;
  font-weight: 800;
  background-color: #61F5BD;
  width: 100px;
  display: inline-block;
}

/* 月考試題 */
.purchase3-description{
  font-size: 20px;
}
.extra_purchase_3_select_group{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.extra_purchase3_other{
  width: 25%;
}
.extra_purchase3_num{
  width: 60px;
  text-align: right;

}
.purchase3_add_btn:hover{
  color:black;
  background-color: orange;
}
.purchase3_add_btn:active{
  color: rgba(0,0,0,0.8);
  background-color: lightgreen;
  transform: scale(1.2);
}
.purchase3_body{
  position: relative;
}
.purchase3_btn_div{
  text-align: right;
}
.purchase3_btns{
  border:none;
  background-color: white;
  margin-left: 5px;
}
.warning_text{
  color:red;
  font-size: 0.75rem;
  overflow: hidden;
}

/* 隨堂演練 */
.purchase1-body{
  padding: 0.5rem 0.25rem;
}
.purchase1_boun_description{
  color:red;
  font-size: 12px;
  text-indent: 1rem;
}
.purchase1-table{
  width: 90%;
  margin: 1rem;
  border:0.5px solid gray;
}
.td-bookname{
  text-indent: 5%;
  letter-spacing: 2px;
  border: 1px gray solid;
  font-size: 1.67rem;
  font-weight: 200;
  background-color: rgba(255,248,220,0.85)
}
.purchase1-input-num{
  font-size: 1.67rem;
  width: 95%;
  margin: 0 2.5%;
  background-color:rgba(166, 205, 231,0.3);
  border:0.5px solid gray;
  text-align: center;
  padding-left: 10px;

}
.purchase1-num{
  border: none;
  width: 15% ;
}
.purchase1-th{
  background-color:rgba(255,248,220,0.85);
  border: 1px solid gray;
}
.purchase1-td-title{
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
.accordion-body{
  padding: 0.5rem 0.5rem;
}

@media(max-width:660px){
  .header h1{
    font-size: 40px;
  }
  #logo img{
    max-width: 100%;
    width: 360px;
    height: 200px;
  }
  fieldset{
    width: 100%;
    left:0%;
  }
  fieldset legend{
    margin: 0;
    padding: 0;
  }
  .input_content{
    width: 100%;
  }
  #filter{
    width: 100%;
  }
  #big-accordion{
    min-width: 95%;
  }
  .marl{
    font-size: 1rem;
  }
  .td-bookname{
    letter-spacing: 1px;
    font-size: 1.2rem;
    text-indent: 5%;
  }
  .purchase1-table .td-bookname{
    letter-spacing: 1px;
    font-size: 15px;
    text-indent: 2%;
  }
  .purchase1-table{
    margin: 0 auto;
    width: 100%;
  }
  .smallonefz{
    font-size: 1rem!important;
  }
  .c_email{
    font-size: 14px;
  }
  #main-description{
    width: 100%;
    margin: 0;
  }
  .description-h2{
    text-align: center;
    letter-spacing: 2px;
  }
  .description-box ul>li{
    margin-bottom: 10px;
    margin-left: 0%;
    text-align: left;
    text-indent: 0.5rem;
  }
  .purchase3_description{
    margin-top: 1rem;
    font-size: 15px;
    text-indent: 4px;
    width: 95%;
  }
  #extra_purchase_3_select_group{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .extra_purchase3_select{
    width: 120px;
    margin: 0.5rem 1px;
  }
  .extra_purchase3_other {
    width: 120px;
    margin: 0 0 0.5rem 1px;
}
  .extra_purchase3_num {
  width: 80px;
  text-align: center;
  margin: 0 0 0 1px;
}


.filter_attr {
    text-indent: 10%;
    width: 20%;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}
.filter_radio {
    display: inline-block;
    margin: 0 2px;
    height: 18px;
    width: 18px;
}
.filter_content {
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
}
}
