<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <!-- ie comptatible -->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="普台書局書籍訂購">
  <!-- vue -->
  <script src="https://unpkg.com/vue@next"></script>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- bootstrap js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <!-- jquery-ui -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
  <!-- bootstrap icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">

  <title>普台書局訂購單</title>
</head>
<body>
  <div id="container" class="container">
    <header class="header">
      <h1>普台書局訂購表單</h1>
      <div id="logo">
        <img src="./logo.jpg" alt="logo"></div>
    </header>
    <!-- 注意事項/說明 -->
    <main>
      <article class="main-description" id="main-description">
        <br>
        <div class="description-box">
          <h2 class="description-h2">注意事項</h2>
          <div class="des_ul">
            <ul>
              <li>本訂單送出前請再次確認欲訂購之項目</li>
              <li>取貨時可<mark>加購及更換錯選</mark>的產品</li>
              <li>&nbsp;&nbsp;&nbsp;本表單所選購的項目的折扣如下:
                <p>--康軒、南一、翰林出版之自修評量講義及考卷(不含作業簿、隨堂練習...等) 一 <mark>72折</mark></p>
                <p>--非康軒，南一，翰林出版社之自修評量講義及考卷 一 <mark>68折</mark></p>
              </li>
              <li>如僅需訂購國中項目的產品，填寫資料並勾選下方<mark>是否僅訂購國中項目後即可送出</mark></li>
              <li>
                送出表單後，會寄一封郵件至您所填的信箱，請確認該<span class="mark">郵件內的清單與本次訂購的項目是否相符。</span><br>
                      &nbsp;&nbsp;&nbsp;若有疑慮，請來電本書局 <span class="mark">Tel:(02)2964-4760</span><br/>
                      &nbsp;&nbsp;&nbsp;亦或傳訊息給本書局Line帳戶(<span class="mark">0987024168</span>)</li>
              <li>送出後請耐心等待本書局將書備齊，之後會依<span class="mark">表單編號分批叫號取書</span></li>
              <li>登記後未取者，本店會將其列入<span class="mark">黑名單，將來不再享有本店會員價之折扣</span>。</li>
            </ul>
          </div>
        </div>
      </article>
      <form action="./css/index.css" id="myform" method="post" target="_self" onsubmit="event.preventDefault()">
        <!-- 顧客個人資訊 -->
        <fieldset class="p-2">
          <legend class="w-auto">個人資訊</legend>
          <div id="custom_info">
            <!-- 顧客姓名 -->
            <div id="custom_name" class="input_content">
              <label for="name" class="c_label">請輸入姓名<i>：</i></label>
              <input class="input_content_inputfield inputname" type="text" name="name" value="" placeholder="請輸入姓名" v-model="custom_data.custom_name" required><span class="red">*</span>
            </div>
            <!-- 顧客信箱 -->
            <div id="custom_email" class="input_content">
              <label for="email" class="c_label">請輸入電子信箱<i>：</i></label>
              <input v-model="custom_data.custom_mail" class="input_content_inputfield inputmail" type="email" name="email" value="" placeholder="請輸入電子信箱" required><span class="red">*</span>
            </div>
            <!-- 顧客電話 -->
            <div id="custom_phone" class="input_content">
              <label for="phone" class="c_label">請輸入連絡電話<i>：</i></label>
              <input v-model="custom_data.custom_phone" maxlength="10" class="input_content_inputfield  inputphone" type="tel" name="phone" value="" placeholder="請輸入連絡電話(例如:0912345678)" required><span class="red">*</span>
            </div>
            <!-- 顧客群組 -->

            <div id="custom-check-senior-item" class="input_content senior">
              <label for="check-senior-item">是否僅需訂購國中項目:</label>
              <div>
                <input type="checkbox"  v-model="senior" class="input_checksenior">是

              </div>
            </div>
            <div id="custom_group" class="input_content inputgroup">
              <label for="group" class="radio_label c_label">請選擇所在的群組<i>：</i></label>
              <div class="input_content_inputfield" >
              <div class="input_content_radio">
                <input  type="radio" name="group" class="radiobtn" v-model="custom_data.custom_group" value="A" >A區
                <input type="radio" name="group" class="radiobtn" v-model="custom_data.custom_group"  value="B" >B區
              </div>
              <div class="input_content_radio">
                <input type="radio" name="group" class="radiobtn" v-model="custom_data.custom_group"  value="E" >E區
                <input type="radio" name="group" class="radiobtn" v-model="custom_data.custom_group"  value="G" > G區
              </div>
              <div class="input_content_radio">
                <input type="radio" name="group" class="radiobtn" v-model="custom_data.custom_group"  value="BSW" > BSW區
                <input type="radio" name="group" class="radiobtn" v-model="custom_data.custom_group"  value="普客" > 普客區
              </div>
            </div>
          </div>
          </div>
        </fieldset>
          <!-- 篩選器 -->
        <div class="filter_title"><h3>篩選器</h3></div>
        <div id="filter">
          <div class="filter_option">
            <div class="filter_attr">年級</div>
            <div class="fil_cont">
              <div class="filter_content">
                <input type="radio" class="filter_radio" v-model="filter_grade" name="filter-grade" value="1">1
              </div>
              <div class="filter_content">
                <input type="radio" class="filter_radio" v-model="filter_grade" name="filter-grade" value="2">2
              </div>
              <div class="filter_content">
                <input type="radio" class="filter_radio" v-model="filter_grade" name="filter-grade" value="3">3
              </div>
              <div class="filter_content">
                <input type="radio" class="filter_radio" v-model="filter_grade" name="filter-grade" value="4">4
              </div>
              <div class="filter_content">
                <input type="radio" class="filter_radio" v-model="filter_grade" name="filter-grade" value="5">5
              </div>
              <div class="filter_content">
                <input type="radio" class="filter_radio" v-model="filter_grade" name="filter-grade" value="6">6
              </div>
            </div>
          </div>
          <div class="filter_option">
            <div class="filter_attr">科目</div>
            <div class="fil_cont">
             <div class="filter_content">
               <input type="radio" class="filter_radio" v-model="filter_subject" name="filter-subject" value="A">國文
             </div>
             <div class="filter_content">
               <input type="radio" class="filter_radio" v-model="filter_subject" name="filter-subject" value="B">數學
             </div>
             <div class="filter_content">
               <input type="radio" class="filter_radio" v-model="filter_subject" name="filter-subject" value="C">自然
             </div>
             <div class="filter_content">
               <input type="radio" class="filter_radio" v-model="filter_subject" name="filter-subject" value="D">社會
             </div>
             <div class="filter_content">
               <input type="radio" class="filter_radio" v-model="filter_subject" name="filter-subject" value="E">生活
            </div>
          </div></div>
          <div class="filter_option">
            <div class="filter_attr">版本</div>
            <div class="fil_cont">
              <div class="filter_content">
               <input type="radio" class="filter_radio" v-model="filter_type" name="filter-type" value="自修">自修
             </div>
              <div class="filter_content">
               <input type="radio" class="filter_radio" v-model="filter_type" name="filter-type" value="評量">評量
             </div>
              <div class="filter_content">
               <input type="radio" class="filter_radio" v-model="filter_type" name="filter-type" value="門市卷">考卷
             </div>
            </div>
          </div>
          <div id="filter-reset-box"><button type="button" @click="clearfilter()" value="清除" id="filter-reset">清除篩選</button></div>
        </div>
        <!-- 訂購項目 -->
      <div class="big-accordion accrdion" id="big-accordion">
            <!-- 主要訂購項目 -->
              <div class="big-accordion-item1 accordion-item" id="normal_purchase">
                <h2 class="accordion-header" id="heading-big1">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-big1" aria-expanded="true" aria-controls="collapse-big1">
                    國小自修、評量、講義、考卷 <i class="icon-collapse bi bi-caret-down"></i>
                  </button>
                </h2>
                <div id="collapse-big1" class="accordion-collapse" aria-labelledby="heading-big1" data-bs-parent="#big-accordion">
                  <div class="accordion-body big2-body">
                    <div class="accordion normal-purchase-accordion" id="normal-purchase-accordion">
                      <!-- 康版 -->
                      <div class="accordion-item acrdn-k">
                        <h2 class="accordion-header text-center" id="headingK">
                          <button class="accordion-button collapsed btn-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-K" aria-expanded="true" aria-controls="collapse-K">
                            康版<i class="icon-collapse bi bi-caret-down"></i>
                          </button>
                        </h2>
                          <div id="collapse-K" class="accordion-collapse" aria-labelledby="headingK" data-bs-parent="#normal-purchase-accordion">
        <div class="accordion-body purchase1-body">
                <table>
                      <tr v-for="book in book_data[0].product">
                        <template v-if="grade(book)&&subject(book)&&type(book)">
                          <td class="td-bookname">{{book.name}}</td>
                          <td class="purchase1-num"><input class="purchase1-input-num" v-model="book.num" @change="dototalstatis()"></td>
                        </template>
                      </tr>
                </table>
                              </div>
                          </div>
                      </div>
                      <!-- 南版 -->
                      <div class="accordion-item acrdn-n">
                        <h2 class="accordion-header text-center" id="headingN">
                          <button class="accordion-button collapsed btn-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-N" aria-expanded="false" aria-controls="collapse-N">
                            南版<i class="icon-collapse bi bi-caret-down"></i>
                          </button>
                        </h2>
                          <div id="collapse-N" class="accordion-collapse collapse" aria-labelledby="headingN" data-bs-parent="#normal-purchase-accordion">
                            <div class="accordion-body purchase1-body">
                              <table>
                                    <tr v-for="book in book_data[1].product">
                                      <template v-if="grade(book)&&subject(book)&&type(book)">
                                      <td class="td-bookname">{{book.name}}</td>
                                      <td class="purchase1-num"><input class="purchase1-input-num" type="number" min="0" v-model="book.num" @change="dototalstatis()"></td>
                                    </template>
                                    </tr>
                              </table>
                            </div>
                          </div>
                      </div>
                      <!-- 翰版 -->
                      <div class="accordion-item acrdn-h">
                        <h2 class="accordion-header text-center" id="headingH">
                          <button class="accordion-button collapsed btn-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-H" aria-expanded="false" aria-controls="collapse-H">
                            翰版<i class="icon-collapse bi bi-caret-down"></i>
                          </button>
                        </h2>
                          <div id="collapse-H" class="accordion-collapse collapse" aria-labelledby="headingH" data-bs-parent="#normal-purchase-accordion">
                            <div class="accordion-body purchase1-body">
                              <table>
                                    <tr v-for="book in book_data[2].product">
                                      <template v-if="grade(book)&&subject(book)&&type(book)">
                                      <td class="td-bookname">{{book.name}}</td>
                                      <td class="purchase1-num"><input class="purchase1-input-num" type="number" min="0" v-model="book.num" @change="dototalstatis()"></td>
                                    </template>
                                    </tr>
                              </table>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            <!-- 次要訂購項目(加購) -->
        <div class="big-accordion-item2 accordion-item" id="extra_purchase">
          <h2 class="accordion-header text-center" id="heading-big2">
            <button class="accordion-button collapsed btn-block smallonefz" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-big2" aria-expanded="false" aria-controls="collapse-big2">
                  作業簿、月考模擬試題、課堂練習本<i class="icon-collapse bi bi-caret-down"></i>
                </button>
              </h2>
              <div id="collapse-big2" class="accordion-collapse collapse " aria-labelledby="heading-big2" data-bs-parent="#big-accordion">
                <div class="accordion-body big2-body">
                  <div class="accordion extra-purchase-accordion" id="extra-purchase-accordion">
                  <!-- 隋堂演練 -->
                    <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      隨堂演練(不可退換)
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#extra-purchase-accordion">
                    <div class="accordion-body purchase1-body">
                     <div class="konshen" id="konshen_purchase1">
                       <h3>康軒</h3>
                         <table class="purchase1-table">
                           <thead>
                             <tr>
                               <td class="td-bookname td-bookname-title">品項名稱</td>
                               <td class="purchase1-num td-bookname-title purchase1-th">數量</td>
                             </tr>
                           </thead>
                           <tbody>
                               <tr v-for="book in book_data[3].product">
                                 <template v-if="grade(book)&&subject(book)">
                               <td class="td-bookname" :>{{ book.name }}</td>
                               <td class="purchase1-num"><input type="number" min="0" v-model="book.num" @change="dototalstatis()" class="purchase1-input-num student-edition-for-purchase1" min="0"></td>
                                 </template>
                             </tr>
                           </tbody>
                         </table>
                       </div>
                     <div class="nani" id="konshen_purchase2">
                       <h3>南一</h3>
                       <table class="purchase1-table">
                           <thead>
                             <tr>
                               <td class="td-bookname td-bookname-title">品項名稱</td>
                               <td class="purchase1-num td-bookname-title purchase1-th">數量</td>
                             </tr>
                           </thead>
                           <tbody>
                             <tr v-for="book in book_data[4].product">
                               <template v-if="grade(book)&&subject(book)">
                               <td class="td-bookname">{{ book.name }}</td>
                               <td class="purchase1-num"><input v-model="book.num" @change="dototalstatis()" type="number" min="0" class="purchase1-input-num"></td>
                               </template>
                             </tr>

                           </tbody>
                         </table>
                       </div>
                     <div class="hanlin" id="konshen_purchase3">
                       <h3>翰林</h3>
                       <table class="purchase1-table">
                           <thead>
                             <tr>
                               <td class="td-bookname td-bookname-title">品項名稱</td>
                               <td class="purchase1-num td-bookname-title purchase1-th">數量</td>
                             </tr>
                           </thead>
                           <tbody>
                             <tr v-for="book in book_data[5].product">
                               <template v-if="grade(book)&&subject(book)">
                               <td class="td-bookname">{{ book.name }}</td>
                               <td class="purchase1-num"><input type="number" min="0" class="purchase1-input-num" v-model="book.num" @change="dototalstatis()"></td>
                             </template>
                             </tr>


                           </tbody>
                         </table>
                       </div>
                    </div>
                  </div>
                </div>
    <!--     國小作業簿 -->
    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          作業簿(不可退換)
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#extra-purchase-accordion">
                        <div class="accordion-body">
                           <div class="konshen">
                           <h3>康軒</h3>
                           <table class="purchase1-table">
                               <thead>
                                 <tr>
                                   <td class="td-bookname td-bookname-title">品項名稱</td>
                                   <td class="purchase1-num td-bookname-title purchase1-th">數量</td>
                                 </tr>
                               </thead>
                               <tbody>
                                 <tr v-for="book in book_data[6].product">
                                   <template v-if="grade(book)&&subject(book)">
                                   <td class="td-bookname">{{ book.name }}</td>
                                   <td class="purchase1-num"><input type="number" min="0" class="purchase1-input-num" v-model="book.num" @change="dototalstatis()" ></td>
                                 </template>

                                 </tr>


                               </tbody>
                             </table>
                           </div>
                          <div class="nani">
                           <h3>南一</h3>
                           <table class="purchase1-table">
                               <thead>
                                 <tr>
                                   <td class="td-bookname td-bookname-title">品項名稱</td>
                                   <td class="purchase1-num td-bookname-title purchase1-th">數量</td>
                                 </tr>
                               </thead>
                               <tbody>
                                 <tr v-for="book in book_data[7].product">
                                   <template v-if="grade(book)&&subject(book)">
                                   <td class="td-bookname">{{ book.name }}</td>
                                   <td class="purchase1-num"><input type="number" min="0" class="purchase1-input-num" v-model="book.num"  @change="dototalstatis()"></td>
                                 </template>

                                 </tr>


                               </tbody>
                             </table>
                           </div>
                          <div class="hanlin">
                           <h3>翰林</h3>
                           <table class="purchase1-table">
                               <thead>
                                 <tr>
                                   <td class="td-bookname td-bookname-title">品項名稱</td>
                                   <td class="purchase1-num td-bookname-title purchase1-th">數量</td>
                                 </tr>
                               </thead>
                               <tbody>
                                 <tr v-for="book in book_data[8].product">
                                   <template v-if="grade(book)&&subject(book)">
                                   <td class="td-bookname">{{ book.name }}</td>
                                   <td class="purchase1-num"><input type="number" min="0" class="purchase1-input-num" v-model="book.num" @change="dototalstatis()"></td>
                                 </template>

                                 </tr>


                               </tbody>
                             </table>
                           </div>
                        </div>
                      </div>
                    </div>
    <!--     月考模擬試題 -->
    <div class="accordion-item">
    <!-- title for 月考模擬試題 -->
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">國小月考模擬試題
          </button>
        </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#extra-purchase-accordion">
                <div class="accordion-body purchase3-body">
                          <!--         內容說明 -->
                    <div class="purchase3_description">
                            請輸入年級及哪個國小，再點選下方"<strong>新增項目</strong>"按鈕，若不要可以點旁邊<i class="bi bi-x-circle"></i>按鈕取消
                          </div>
                          <!--         選擇列表 -->
                          <div id="extra_purchase_3_select_group" class="extra_purchase_3_select_group">
                            <select name="extra_purchase3" class="extra_purchase3_select" v-model="exam_data.extra_purchase3_grade">
                              <option value="" disabled>年級</option>
                              <option value="1">一年級</option>
                              <option value="2">二年級</option>
                              <option value="3">三年級</option>
                              <option value="4">四年級</option>
                              <option value="5">五年級</option>
                              <option value="6">六年級</option>
                            </select>
                            <select name="extra_purchase3" class="extra_purchase3_select" v-model="exam_data.choose_elementary">
                              <option value="" disabled>選擇國小</option>
                              <option v-for="list in exam_data.purchase3_list" :value="list">
                                {{ list }}
                              </option>
                            </select>
                            <input type="text" class="extra_purchase3_other" :disabled="isother" :placeholder="placeholder" v-model="exam_data.other_elementary">
                            <input type="number" max="100" min="0" class="extra_purchase3_num" placeholder="數量" v-model="exam_data.extra_purchase3_num">
                          </div>
                            <p class="warning_text">{{ exam_data.warning_text }}</p>
                            <ul v-for="list in exam_data.purchase3_comfirm_list">
                              <li class="extra_purchase3_comfirm_li" >{{ list }}<button type="button" class="purchase3_btns bi bi-x-circle" @click="remove_purchaselist(list),dototalstatis()"></button></li>
                            </ul>
                            <div class="purchase3_btn_div">
                            <button type="button" class="btn-primary purchase3_add_btn" @click="purchase3_list_add(),dototalstatis()">新增項目</button>
                            </div>
                        </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- carts -->
          <div class="cart-title">
            <h2>以下是您的訂購項目 :</h2>
          </div>
          <div class="cart" id="cart">
            <div class="custom_infos custom-name">姓名  :  <div class="inputed">{{custom_data.custom_name}}</div></div>
            <div class="custom_infos custom-mail">信箱  :  <div class="inputed">{{custom_data.custom_mail}}</div></div>
            <div class="custom_infos custom-phone">電話 :  <div class="inputed">{{custom_data.custom_phone}}</div></div>
            <div class="custom_infos custom-group">群組 :  <div class="inputed">{{custom_data.custom_group}}</div></div>
            <div id="purchase_list" class=" custom_infos purchase_list">
              <div id="purchase_list_title">訂購項目 :<p>{{issenior}}</p></div>
                <div id="puchase_list_content" >

                  <ul v-for="book in submission" class="comlist">
                    <li>{{book}}</li>
                  </ul>
                </div>
            </div>
          </div>
          <!-- submit -->
          <div class="submit">
            <button @click.stop="submitdata()" class="submit-button" >提交表單</button>
          </div>
      </form></main>
  </div>


<script type="text/javascript" src="js\國小書籍.js"></script>
<script type="text/javascript" src="js\vue3.js"></script>
<link rel="stylesheet" href="css\form.css">
</body>
</html>
